* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    background-color: #6f9f9c;
    user-select: none;
}

h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin: 30px 20px;

}

summary {
    margin: 5px;
}

summary:hover {
    cursor: pointer;
}

details {
    padding: 10px 0;
    font-size: 1.2rem;
    background-color: white;
    width: 80vw;
    margin: 5px auto;
    border-radius: 15px;
    display: flex;
}

#pronouns {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

#pronouns p {
    font-size: auto;
    background-color: white;
    margin-right: 10px;
}

#pronouns input {
    margin-left: 10px;
    width: 25px;
    height: 25px;
}

#pronouns input:hover {
    cursor: pointer;
}

#negative-checkbox {
    width: 30px;
    height: 30px;
}

#negative-checkbox:hover {
    cursor: pointer;
}


#other-options {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

select {
    height: 40px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin: 0 20px;
}

select:hover {
    cursor: pointer;
}

#tense-and-buttons {
    margin: 10px auto;
    width: 75%;
    display: flex;
    align-items: center;
}

#tense-info {
    margin: 10px auto;
    padding: 5px 0;
    width: 50vw;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
    align-content: center;
}

#tense-info:hover {
    cursor: pointer;
}

#generate-btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

#generate-btn:hover {
    cursor: pointer;
}

#show-hide-answer-btn {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: #c6c3c3;
}

button:hover {
    background-color: #c6c3c3;
    cursor: pointer;
}

#output {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prompts {
    width: min(45vw, 600px);
    height: 300px;
    border: 2px solid black;
    margin-right: 30px;
    background-color: #E2D8A5;
    font-family: "Andale Mono", monospace;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

#prompts div {  
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    margin: 0.3rem;
    border: 2px solid black;
}

#prompt-pronoun {
    background-color: #DDA0DD;
}

#prompt-negative {
    background-color: #87AB69; 
}

#prompt-verb {
    background-color: #2A9DF4;
}

#solution {
    width: min(40vw, 500px); 
    height: 300px;
    border: 2px solid black;
    background-color: #E1A36F;
    font-family: "Andale Mono", monospace;
    font-size: 2rem;
    padding: 30px;
    border-radius: 5px;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
}

#cover {
    background: #C2D36F;
    width: min(40vw, 500px);
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-style: italic;
}

#cover:hover {
    display: none;
}

#solution-and-cover {
    display: grid;
}


@media (max-width: 500px) {
    #html {
        width: 100vw;
        overflow: hidden;
    }

    h1 {
        font-size: 2rem;
    }

    #pronouns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }

    #other-options {
        flex-direction: column;
    }

    #tense-and-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #tense-info {
        width: 300px;
        font-size: 1.3rem;
        grid-column: span 2;
        grid-row: span 1;

    }

    #show-hide-answer-btn {
        width: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 2;
    }

    #generate-btn {
        width: 100%;
        grid-column: 2 / 2;
        grid-row: 2 / 2;
}


    #output {
        flex-direction: column;
    }

    #prompts {
        height: 200px;
        width: 80vw;
        margin: 10px auto;
        display: grid;
    }
    
    #solution, #cover{
        height: 200px;
        width: 80vw;
        margin: 10px auto;
    }
}
